* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
    font-family: "Ruluko", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

